ERASEKEY_APP_NAME=EraseKey
ERASEKEY_DB_PATH=./data/erasekey.db
ERASEKEY_KMS_MODE=mock
ERASEKEY_AWS_KMS_KEY_ID=
ERASEKEY_DELETION_WINDOW_DAYS=7
ERASEKEY_STEP_UP_MODE=mock
ERASEKEY_MOCK_STEPUP_PUBKEY_ID=mock-operator-pubkey-001
ERASEKEY_POLICY_ENGINE_MODE=local
ERASEKEY_GATE1_CLI_PATH=gate1
ERASEKEY_RECEIPT_LOG_PATH=./data/deletion_receipts.jsonl
ERASEKEY_RECEIPT_SIGNING_KEY_PATH=./data/.receipt_signing_key
